/* Write your CSS here! */
/*Your CSS must:

Use margin and padding to space your elements in a visually pleasing manner.

Use at least one of each of the following types of selectors:

element
class
id
Follow these rules:

Use the element selector to give the <body> element a margin value of 8px and a display type of block.
Give a heading on your page the id of mainHeading and use the id selector in styles.css to apply a styling of your choosing.
Give a paragraph on your page the id of testP and a class name of funParagraph. Use the class selector in styles.css and give it a styling of your choosing.
You will be asked to explain and point out your styling choices to your TA during your code review. Have fun with creating your assignment.

Notes
*/
body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  overflow: hidden;
  background-color: #333;
}

.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  background-color: #04AA6D;
  color: white;
}

.center-text {
  text-align: center;
}

.leftpadding {
  padding-left: 20px;
}

#leftpad {
  padding-left: 20px;
}

#mainHeading {
  margin: auto;
  width:25%;
  text-align:center;
  border: 3px solid navy;
  padding: 10px;
  color: red;
}

#testP.funParagraph {
  background-color: green;
  width:40%;
  padding-left: 40px;
  color: white;
}

body {
  background-image: url("https://i.ibb.co/xGKCWYb/cool-background-1.png");
  margin: 8px;
  display: block;
}