/* Write your CSS here! */
/*Your CSS must:

Use margin and padding to space your elements in a visually pleasing manner.

Use at least one of each of the following types of selectors:

element
class
id
Follow these rules:

Use the element selector to give the <body> element a margin value of 8px and a display type of block.
Give a heading on your page the id of mainHeading and use the id selector in styles.css to apply a styling of your choosing.
Give a paragraph on your page the id of testP and a class name of funParagraph. Use the class selector in styles.css and give it a styling of your choosing.
You will be asked to explain and point out your styling choices to your TA during your code review. Have fun with creating your assignment.

Notes
*/
body {
    background-color: powderblue;
    margin: 8px,
    display: block;
  }
  h1 {
    color: blue;
  }
  p {
    color: red;
  }